{% extends "base.html" %}


{% block title %}Internal Server Error{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>Internal Server Error</h1>
    <p>Please report this error if it is not yet in the issue list on <a href="https://gitlab.com/gucky92/hellbender/issues">gitlab</a>. Be as descriptive as possible!
    </p>
</div>
{% endblock %}
