<div class="row" style="margin-bottom:20px; margin-top:20px;">
	<div class="col-md-1">
		<span class="row-id"></span>
	</div>
	<div class="col-md-10 row">
		<input type="hidden" name="timestamps" id="timestamps" value="">
		<input type="hidden" name="durations" id="durations" value="">
		<input type="hidden" name="intensities" id="intensities" value="">
		<input type="hidden" name="refs" id="refs" value="">
		<input type="hidden" name="types" id="types" value="">
		<div class="col-md-6">
		    <label for="led" style="font-size:20px;">LED</label>
		    <select id="led" name="led" value="">
		    </select>
		</div>
		<div class="col-md-6">
		    <label for="type" style="font-size:20px;">Stimulus type</label>
		    <select id="type" name="type" value="steps">
		    	<option value="steps">Steps</option>
		    	<option value="sinew">Sine Wave</option>
		    	<option value="gnoise">Gaussian Noise</option>
		    </select>
		</div>
		<hr>
		<div class="base-time-params col-md-12 row">
			<div class="col-md-4">
			    <label for="start">Start time (ms)</label><input id="start" name="start" type="number" min="0" value="0">
			</div>
			<div class="col-md-4">
			    <label for="duration">Stimulus duration (ms)</label><input id="duration" name="duration" type="number" min="0" value="1000">
			</div>
			<div class="col-md-4">
			    <label for="repeat">Repeat times</label><input id="repeat" name="repeat" type="number" min="1" value="1">
			</div>
		</div>
		<div class="wave-params col-md-6 row">
			<div class="col-md-6">
			    <label for="freq">Frequency (Hz)</label>
			    <input id="freq" name="freq" type="range" min="0" max="10" step="0.01" value="1">
			    <input class="slider-value" id="freq-s" type="number" min="0" max="10" step="0.01" value="1">
			    <input class="peaks-count" id="freq-p" type="number" min="0" value="1" disabled="disabled">
			</div>
			<div class="col-md-6">
			    <label for="phase">Phase</label>
			    <input id="phase" name="phase" type="range" min="0" max="360" value="0">
			    <input class="slider-value" id="phase-s" type="number" min="0" max="360" value="0">
			</div>
		</div>
		<div class="intensity-params col-md-6 row">
			<div class="col-md-6">
			    <!-- <label for="intensity">Intensity (nW/mm²)</label><input id="intensity" name="intensity" type="range" min="0" max="100" value="10"> -->
			    <label for="intensity">Intensity (nW/mm²)</label><input id="intensity" name="intensity" type="text" value="10">
			</div>
			<div class="col-md-6">
			    <label for="offset">Offset (nW/mm²)</label>
			    <input id="offset" name="offset" type="range" min="0" max="100" value="0">
			    <input class="slider-value" id="offset-s" type="number" min="0" max="100" value="0">
			</div>
		</div>
		<div class="time-params col-md-12 row">
			<div class="col-md-3">
			    <label for="offset_start">Start time offset (ms)</label><input id="offset_start" name="offset_start" type="number" min="0" value="100">
			</div>
			<div class="col-md-3">
			    <label for="offset_end">End time offset (ms)</label><input id="offset_end" name="offset_end" type="number" min="0" value="100">
			</div>
			<div class="col-md-3">
			    <label for="rest_start">Start resting time (ms)</label><input id="rest_start" name="rest_start" type="number" min="0" value="0">
			</div>
			<div class="col-md-3">
			    <label for="rest_end">End resting time (ms)</label><input id="rest_end" name="rest_end" type="number" min="0" value="0">
			</div>
		</div>
		<div class="noise-params col-md-12 row">
			<div class="col-md-4">
			    <label for="refresh">Refresh time (ms)</label><input id="refresh" name="refresh" type="number" min="0" value="50">
			</div>
			<div class="col-md-4">
			    <label for="mean">Mean (nW/mm²)</label><input id="mean" name="mean" type="number" min="0" value="50">
			</div>
			<div class="col-md-4">
			    <label for="variance">Variance</label><input id="variance" name="variance" type="number" min="0" value="200">
			</div>
		</div>
		<div class="step-params col-md-3 row">
			<div class="col-md-12">
			    <label for="step_duration">Step duration (ms)</label><input id="step_duration" name="step_duration" type="number" min="0" value="1000">
			</div>
		</div>
		<div class="random-params col-md-6 row">
			<div class="col-md-6">
			    <label for="randomize" class="checkbox-container">Randomize intensities
			    	<input id="randomize" name="randomize" type="checkbox">
			    	<span class="checkmark"></span>
			    </label>
			</div>
			<div class="col-md-6">
			    <label for="keep_order" class="checkbox-container">Keep order
			    	<input id="keep_order" name="keep_order" type="checkbox">
			    	<span class="checkmark"></span>
			    </label>
			</div>
		</div>
		<div class="main-mix-params col-md-3 row">
			<div class="col-md-12">
			    <label for="mix">Random mixing</label><input id="mix" name="mix" type="number" min="0" value="0">
			</div>
		</div>
		<div class="sub-mix-params col-md-3 row">
			<div class="col-md-12">
			    <label for="in_mix" class="checkbox-container">Include in mix
			    	<input id="in_mix" name="in_mix" type="checkbox">
			    	<span class="checkmark"></span>
			    </label>
			</div>
		</div>
	</div>
	<div class="col-md-1">
	    <span class="remove btn btn-danger">Remove</span>
	</div>
</div>