{% macro render_field(field) %}
    <dt> {{ field.label }}
    <dd> {{ field(**kwargs) | safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    </dd>
{% endmacro %}

{% macro render_multi_field(field,field_name) %}
    <div class="form-group">
        {{ field_name }}
        {% for subfield in field %}
        <div class="base_class{% if subfield.errors %} error_class{% endif %}" id="{{subfield.name}}-group">
            {{ subfield(**kwargs)|safe }}
        </div>
        {% if subfield.errors %}
             {% for error in subfield.errors %}
                <p class="error_class">{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% endfor %}
        <br/>
        <input type="submit" value="Add entry" name="submit">
        <input type="submit" value="Remove entry" name="submit">
    </div>
{% endmacro %}

{% macro render_heading_field(field,field_name) %}
    <div class="form-group">
        {% for subfield in field %}
            <dt> {{ subfield.label }}
            <dd> {{ subfield(**kwargs) | safe }}
                {% if subfield.errors %}
                    <ul class=errors>
                        {% for error_name, error in subfield.errors.items() %}
                        <li> {{ error_name }} -  {{ error}} </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </dd>

        {% endfor %}
        <br/>
        <input type="submit" value="Add Attribute" name="submit">
        <input type="submit" value="Remove Attribute" name="submit">
    </div>
{% endmacro %}
