
{% macro render_field(field, required) %}
    {% if field.id == 'REFERRER'%}
        <tr>
        {{ field }}
        </tr>
    {% else %}
        <tr>
        <td colspan="25">
        {% if field.type in ['FieldList', 'DataJointFieldList'] %}
            <div data-toggle="fieldsetting" id="{{ field.id }}-fieldsetting">
            <table>
            <tr>
            <td colspan="5">
                <b><font size="5"> {{ field.id }} </font></b>
            </td>
            <td colspan="5">
                <button type="button" data-toggle="fieldsetting-add-row" data-target="#{{ field.id }}-fieldsetting">+</button>
            </td>
            </tr>
			{% for subfield in field %}
                {% if subfield.type == 'FormField' %}
                    <tr data-toggle="fieldsetting-entry" 
                    {% if loop.first %}style="display:none;"
                    {# {% else %}style="display: table-row;" #}
                    {% endif %}>
                    <td colspan="20">
                    <table>
                        <tr>
                            <td colspan="10">
                                <b><font size="3">{{subfield.id}}</font></b>
                            </td>
                        </tr>
                    {% for subsubfieldname, subsubfield in subfield._fields.items() %}
                    {% if subsubfieldname != "csrf_token"%}
                        <tr>
                        {% if 'REFERRER' in subsubfield.id %}
                            {{ subsubfield }}
                        {% else %}
                            {% if required %}
                                <td colspan="5"><b>{{ subsubfield.id }}</b></td>
                            {% else %}
                                <td colspan="5">{{ subsubfield.id }}</td>
                            {% endif %}
                            <td colspan="7">{{ subsubfield }}</td>
                            <td colspan="7">{{ subsubfield.label }}</td>
                            <td colspan="5">
                                {% if subsubfield.errors %}
                                <ul class=errors>
                                    {% for error in subsubfield.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </td>
                        {% endif %}
                        </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                        <button type="button" data-toggle="fieldsetting-remove-row" id="{{field.id}}-{{loop.index0}}-remove">-
                        </button> 
                        </td>
                    </tr>
                    </table>
                    </td>
                    </tr>
                {% else %}
                    <tr data-toggle="fieldsetting-entry" {% if loop.index0==0 %}style="display:none;"{% endif %}>
                    {% if 'REFERRER' in subfield.id %}
                        {{ subfield }}
                    {% else %}
                        <td colspan="5">{{ subfield.id }}</td>
                        <td colspan="7">{{ subfield }}</td>
                        <td colspan="7">{{ subfield.label }}</td>
                        <td colspan="5">
                            {% if subfield.errors %}
                            <ul class=errors>
                                {% for error in subfield.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </td>
                        <td>
                            <button type="button" data-toggle="fieldsetting-remove-row" id="{{field.id}}-{{loop.index0}}-remove">-
                            </button> 
                        </td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            {# <tr>
				<td colspan="5">
				<input type="submit" value="Add {{ field.id }}" name="submit">
				</td>
				<td colspan="5">
				<input type="submit" value="Remove {{ field.id }}" name="submit">
				</td>
            </tr> #}
            </table>
            </div>
            </td>
            </tr>
        {% else %}
            <tr>
            {% if required %}
                <td colspan="5"><b>{{ field.id }}</b></td>
            {% else %}
                <td colspan="5">{{ field.id }}</td>
            {% endif %}
            <td colspan="7">{{ field }}</td>
            <td colspan="7">{{ field.label }}</td>
            <td colspan="5">
                {% if field.errors %}
                <ul class=errors>
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </td>
            </tr>
        {% endif %}
    {% endif %}
{% endmacro %}
