<p>
</p>
<div>
<tr>
    {% if data['enter_url'] != "None" %}
        <td align="center"><a id="enter" class=buttongreen href={{ data['enter_url'] }}>Enter</a></td>
    {% endif %}
    {% if data['delete_url'] != "None" %}
        <td align="center"><a id="delete" class=buttonred href="#">Delete</a></td>
    {% endif %}
    {% if data['edit_url'] != "None" %}
        <td align="center"><a id="edit" class=buttonblue href="#">Edit</a></td>
    {% endif %}
    {% if data['recording_url'] != "None" %}
        <td align="center"><a id="recording" class=buttonblack href="#">Recordings</a></td>
    {% endif %}
</tr>
</div>
<p>
</p>
<p>
<div>
    Toggle Columns
    {% for col in data['head'] %}
    <a class="toggle-vis" class="toggleon" data-column="{{ loop.index0 }}">
        {{ col }}
    </a> 
    {% endfor %}
</div>
</p>
<table id="{{ data['id'] }}" class="display nowrap" width="100%">
	<thead>
		<tr>
		{% for col in data['head'] %}
			<th>{{ col }}</th>
		{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% for row in data['data'] %}
		<tr>
		{% for attr in row %}
			<td>{{ attr }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
	<tfoot>
		<tr>
		{% for col in data['head'] %}
			<th>{{ col }}</th>
		{% endfor %}
		</tr>
	</tfoot>
</table>
<p></p>
<script>
	$(document).ready(function() {
        // Setup - add a text input to each footer cell
        $("#{{ data['id'] }} tfoot th").each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $("#{{ data['id'] }}").DataTable({
            dom: 'Bfrtip', 
			buttons: [
				{
					extend: 'collection',
					text: 'Export',
					buttons: [ 'pdf', 'csv', 'copy', 'excel' ]
				}
            ],
            scrollX: true,
            select: true
            });

        $("#{{data['id']}} tbody").on( 'click', 'tr', function () {
			if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
			}
			else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}

            var selected = $("tr.selected").html().replace('#', '----');
            var html_key = "<thead>" + $("#{{ data['id'] }} thead").html() + "</thead><tbody><tr>" + selected + "</tr></tbody>";
            //var html_key = string(table.row('.selected').data()).replace('#', '----');
            //if not None
            if("{{ data['delete_url'] }}" != "None"){
                var delete_url = "{{ data['delete_url'] }}?html_key=" + html_key + "&target=" + window.location.href;
                $("#delete").attr("href", delete_url)
            }
            if("{{ data['edit_url'] }}" != "None"){
                var edit_url = "{{ data['edit_url'] }}?html_key=" + html_key + "&target=" + window.location.href;
                $("#edit").attr("href", edit_url)
            }
            if("{{ data['recording_url'] }}" != "None"){
                var edit_url = "{{ data['recording_url'] }}?html_key=" + html_key + "&target=" + window.location.href;
                $("#recording").attr("href", edit_url)
            }
		} ); 

        // Apply the search
		table.columns().every( function () {
			var that = this;
	 
			$( 'input', this.footer() ).on( 'keyup change', function () {
				if ( that.search() !== this.value ) {
					that
						.search( this.value )
						.draw();
				}
			} );
		} ); 


		
		$('a.toggle-vis').on( 'click', function (e) {
			e.preventDefault();
	 
			// Get the column API object
			var column = table.column( $(this).attr('data-column') );
	 
			// Toggle the visibility
			column.visible( ! column.visible() );
			
            //Toggle Class
            if ( $(this).hasClass('toggleoff') ) {
				$(this).removeClass('toggleoff');
				$(this).addClass('toggleon');
			}
			else {
				$(this).removeClass('toggleon');
				$(this).addClass('toggleoff');
			}
		} );
    });
</script>
