{% extends "base.html" %}


{% block page_content %}
    <div class="post-tabs">
        {% from "_macros.html" import render_heading_field %}
        {% from "_macros.html" import render_field %}
        <h3>Add Columns to existing table</h3>
        <p>
        For a guide on the syntax to declare foreign keys as attributes look in the        
        <a href="https://docs.datajoint.io/data-definition/Foreign-keys.html">datajoint documentation</a>.
        </p><p>
        </p>
        <form method="post">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.schema) }}
                {{ render_field(form.table) }}
            </dl>
            <dl>
                {{ render_heading_field(form.attribute, form.attribute.id) }}
            </dl>
            <input type="submit" value="Submit" name="submit">
        </form>
    </div>
{% endblock %}
