{% extends "_base.html" %}

{% block title %}Hellbender{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-flash-1.5.2/b-html5-1.5.2/datatables.min.js"></script>
    <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
    {#<script type=text/javascript src="{{ url_for('static', filename='js/page2.js') }}"></script>
    #}
    {#<script type=text/javascript>
        $(function() {
            $("div[data-toggle=fieldsetting]").each(function() {
                var $this = $(this);
                var field_counter = 0;

                //Add new entry
                $this.find("button[data-toggle=fieldsetting-add-row]").click(function() {
                    var target = $($(this).data("target"));
                    var oldrow = target.find("[data-toggle=fieldsetting-entry]:last");
                    var row = oldrow.clone(true, true);
                    field_counter++;
                    var elem_num = parseInt(field_counter);
                    row.attr('data-id', elem_num);
                    //TODO find why this is not working to replace the id
                    //row.html().replace('-' + (elem_num - 1), '-' + '-' + (elem_num));
                    row.find(":input").each(function() {
                        console.log(this);
                        try {
                            var id = $(this).attr('name').replace('-' + (elem_num - 1), '-' + (elem_num));
                        }
                        catch(err) {
                            var id = $(this).attr('id').replace('-' + (elem_num - 1), '-' + (elem_num));
                        }
                        $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
                    });
                    row.show();
                    oldrow.after(row);
                }); //End add new entry

                //Remove row
                $this.find("button[data-toggle=fieldsetting-remove-row]").click(function() {
                    if($this.find("[data-toggle=fieldsetting-entry]").length > 1) {
                        var thisRow = $(this).closest("[data-toggle=fieldsetting-entry]");
                        thisRow.remove();
                        field_counter--;
                    }
                }); //End remove row
            });
        });
    </script> #}
    {# <script>
        $(document).ready(function(){
            $('.dropdown-submenu a.test').on("click", function(e){
                $(this).next('ul').toggle();
                    e.stopPropagation();
                    e.preventDefault();
                });
             });
     </script> #}

     <script type=text/javascript>
      $(function() {
          $("div[data-toggle=fieldsetting]").each(function() {
              var $this = $(this);
              //only works if min_entries = 1
              var field_counter = 0;

              //Add new entry
              $this.find("button[data-toggle=fieldsetting-add-row]").click(function() {
                  var target = $($(this).data("target"));
                  var oldrow = target.find("[data-toggle=fieldsetting-entry]:last");
                  var row = oldrow.clone(true, true);
                  field_counter++;
                  var elem_num = parseInt(field_counter);
                  row.attr('data-id', elem_num);
                  row.find(":input").each(function() {
                      try {
                          var elem_num = $(this).attr('id').match(/-[0-9]+-/)[0];
                      }
                      catch(err) {
                          var elem_num = $(this).attr('name').match(/-[0-9]+-/)[0];
                      }
                      var elem_num = eval(elem_num.replace('-', '').replace('-', '')) + 1;
                      try {
                          var id = $(this).attr('name').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                      }
                      catch(err) {
                          var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                      }
                      $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
                      try {
                          var subfieldtarget = $(this).attr('data-target').replace(
                              '-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                          $(this).attr('data-target', subfieldtarget);
                          console.log(this);
                      }
                      catch(err) {}
                  });
                  row.find("div[data-toggle=subfieldset]").each( function() {
                      console.log('here here');
                      var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                      $(this).attr('id', id);
                  });
                  row.show();
                  oldrow.after(row);
              }); //End add new entry

              //Remove row
              $this.find("button[data-toggle=fieldsetting-remove-row]").click(function() {
                  if($this.find("[data-toggle=fieldsetting-entry]").length > 1) {
                      var thisRow = $(this).closest("[data-toggle=fieldsetting-entry]");
                      thisRow.remove();
                      field_counter--;
                  }
              }); //End remove row
          });
      });
      $(function pageLoad() {
          $("div[data-toggle=subfieldset]").each(function() {
              // requires id to end with "list" as a name
              var $this = $(this);

              //Add new entry
              $this.find("button[data-toggle=subfieldset-add-row]").click(function() {
                  var target = $($(this).data("target"));
                  var oldrow = target.find("[data-toggle=subfieldset-entry]:last");
                  var row = oldrow.clone(true, true);
                  // requires that subfieldset ids end with list
                  row.find(":input").each(function() {
                      try {
                          var elem_num = $(this).attr('id').match(/-[0-9]+$/)[0];
                          var elem_num = eval(elem_num.replace('-', '')) + 1;
                          var before = new RegExp('-' + (elem_num - 1) + '$');
                          var after = ('-' + (elem_num));
                      }
                      catch(err) {
                          var elem_num = $(this).attr('id').match(
                              /-[0-9]+-remove$/)[0];
                          var elem_num = eval(
                              elem_num.replace('-', '').replace('-remove', '')
                          ) + 1;
                          var before = new RegExp('-' + (elem_num - 1) + '-remove$');
                          var after = ('-' + (elem_num) + '-remove');
                      }

                      try {
                          var id = $(this).attr('name').replace(
                              before, after);
                      }
                      catch(err) {
                          var id = $(this).attr('id').replace(
                              before, after);
                      }
                      $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
                  });
                  row.show();
                  oldrow.after(row);
              }); //End add new entry

              //Remove row
              $this.find("button[data-toggle=subfieldset-remove-row]").click(function() {
                  if($this.find("[data-toggle=subfieldset-entry]").length > 1) {
                      var thisRow = $(this).closest("[data-toggle=subfieldset-entry]");
                      thisRow.remove();
                  }
              }); //End remove row
          });
      });
  </script>
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index')}}">Fly</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.login') }}">
                    {{ session['user'] if 'user' in session else 'Log In' }}
                    </a>
                </li>
                <li><a href="{{ url_for('main.erd') }}">ERD</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Schema
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    {% for schema in session['schemata'] %}
                    <li><a href="{{ url_for('main.erd', schema=schema) }}">{{schema}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Flies
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.enter_genotype') }}">Enter Genotype</a></li>
                        <li><a href="{{ url_for('main.flyentry') }}">Enter Stock</a></li>
                        <li><a href="{{ url_for('main.flyentry', personal='personal') }}">Enter PersonalStock</a></li>
                        <li><a href="{{ url_for('main.cross') }}">Enter Cross</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Experiments
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.flysubjects') }}">Fly Subjects</a></li>
                        <li><a href="{{ url_for('main.subjectentry') }}">Enter Subject</a></li>
                        <li><a href="{{ url_for('main.stimuli') }}">Stimuli</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">db
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.heading') }}">Create Table</a></li>
                        <li><a href="{{ url_for('main.upload') }}">Upload Data</a></li>
                        <li><a href="{{ url_for('main.addcolumn') }}">Add Column</a></li>
                        <li><a href="{{ url_for('main.join') }}">Join Tables</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="mainoffset">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if category == 'error' %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error: {{message}}</strong>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
                </div>
            {% endif %}
        {% endfor %}

        {% block page_content %}
        {% endblock %}
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}
