{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}

{% block page_content %}
    {% from "_render.html" import render_field %}
    <h4> Cross Information </h4>
    <p> 
        Virgin, male, and desired fields should all correspond to genotype ids.
    </p>
    <form class="datajoint" method=post>
        <table class="datajoint">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <thead>
            <tr>
                <th colspan="5" class="datajoint">Attribute</th>
                <th colspan="7" class="datajoint">Data</th>
                <th colspan="7" class="datajoint"> Comment</th>
                <th colspan="5" class="datajoint">Error</th>
            </tr>
            </thead>
            <tbody>
            {% for fieldname, field in form._fields.items() %}
            {% if fieldname != "csrf_token"%}
            {{ render_field(field, form.required[fieldname]) }}
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div>
        <tr>
            <td align="center"><input type=submit value=Submit name="submit"></td>
        </tr>
        </div>

    </form>
    <p>
    </p>
    {% with data=table_json %}
    {% include '_table.html' %}
    {% endwith %}
{% endblock %}
