
{% extends "base.html" %}

{% block page_content %}
    {% from "render_form.html" import render_form %}
    <h4> Edit </h4>
    <p> You can only edit dependent attributes
        (i.e. columns that are not primary keys)
        in the table. Replace will not work if
        the entry is referenced downstream. Use update
        if the entry is referenced downstream otherwise use
        replace.
    </p>
    {{ render_form(form, ["Replace", "Update"])}}
{% endblock %}
