{% extends "base.html" %}

{% block page_content %}
    {% from "render_form.html" import render_form %}
    <h4> Enter </h4>
    <p>
    </p>
    {{ render_form(form, ["Submit", "SubmitStay", "Cancel"])}}
{% endblock %}
