{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}

{% block page_content %}
    <div class="post-tabs">
        {% from "_macros.html" import render_field %}
        <h3>Are you sure you want to delete the entry?</h3>
        <h4>Entry referenced in: </h4>
        <ul>
            {% for value in dependents %}
              <li>{{ value }}</li>
            {% endfor %}  
        </ul>
        <font color="red">
        <strong> All references of entry will be deleted! </strong><br>
        <strong> Referenced tables may have non-primary references themselves that will be deleted. </strong>
        </font>
        <h4>This entry will be deleted: </h4>
        <table>
            {%for key, value in attributes.items()%}
            <tr>
                <th> {{key}} </th>
                <td> {{value}} </th>
            </tr>
            {% endfor %}
        </table>
        <form method="post">
            <input type="submit" name="delete" value="Delete">
            <input type="submit" name="cancel" value="Cancel">
        </form>
    </div>
{% endblock %}
