{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="datajoint.css") }}">
{% endblock %}

{% block page_content %}
    {% from "_render.html" import render_field %}
    {% from "render_form.html" import render_form %}
    <h4> Fly Information </h4>
    <p>
        Check if your genotype already exists in the genotype table below. If it exist do not enter a duplicate!
        Click on Stock, Cross, or Experiment to Submit the entry and redirect to enter into the downstream table
        FlyStock, Cross, or FlySubject respectively.
    </p>
    {{ render_form(form, ["Submit", "Stock", "PersonalStock", "Cross", "Experiment"])}}
    <p>
    </p>
    {% with data=table_json %}
    {% include "_table.html" %}
    {% endwith %}
{% endblock %}
