{% extends "base.html" %}

{% block page_content %}
    {% from "render_form.html" import render_form %}
    <h4> Stock Information </h4>
    <p>
    Add a genotype to the common stock.
    </p>
    {{ render_form(form, ["Submit"])}}
    <p>
    </p>
    {% with data=table_json %}
    {% include '_table.html' %}
    {% endwith %}
{% endblock %}
