{% extends "base.html" %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}


{% block page_content %}
    <h3>Fly Subjects</h3>
    <div class="post-tabs">
        <form method="post">
        <input type="submit" value="Start Experiment" name="submit">
        </form>
    </div>
    <p></p>
    <h4>Search through existing fly subjects</h4>
    <p></p>
    {% with data=table_json %}
    {% include '_table.html' %}
    {% endwith %}
{% endblock %}
