{% extends "base.html" %}


{% block page_content %}
    <div class="post-tabs">
        {% from "_macros.html" import render_heading_field %}
        {% from "_macros.html" import render_field %}
        <h3>Create Table</h3>
        <p>
        To create a table the schema must exist in the ERD already. The table to be created
        cannot exist in the ERD. 
        For a guide on the syntax to declare foreign keys as attributes look in the        
        <a href="https://docs.datajoint.io/data-definition/Foreign-keys.html">datajoint documentation</a>.
        </p><p>
        This form only add Manual datajoint tables. 
        An attribute in this form is equal to a column in a table. First list all primary keys, and then
        the dependent attributes. A primary key is not nullable.
        Once a table is created the website restarts. The table must be deleted first to make changes to its
        attributes. This is only possible if you are a super user.
        </p>
        <form method="post">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.schema) }}
                {{ render_field(form.table) }}
            </dl>
            <dl>
                {{ render_heading_field(form.attribute, form.attribute.id) }}
            </dl>
            <input type="submit" value="Submit" name="submit">
        </form>
    </div>
{% endblock %}
