{% extends "base.html" %}


{% block page_content %}
    <div class="post-tabs">
        <br>
        <h1>Be prepared to bend hell, {{session['user']}}.</h1>
        <h2>For more information go to the <a href="https://app.nuclino.com/behnialab">wiki</a>.</h2>
    </div>
{% endblock %}
