{% extends "base.html" %}


{% block page_content %}
    <div class="post-tabs">
        {% from "_macros.html" import render_multi_field %}
        <h3>Join Tables</h3>
        <form method="post">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <dl>
                {{ render_multi_field(form.table, form.table.id) }}
            </dl>
            <input type="submit" value="Join" name="submit">
        </form>
    </div>
{% endblock %}
