{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}

{% block page_content %}
    {% from "render_form.html" import render_form %}
    <h4>Recording Information</h4>
    <p>Enter information about your recording. To enter your experimental protocol manually (i.e. if it does not exist in the protocol table yet)
    to the protocol table click on the Add Protocol button below:</p>
    <form method="post">
        <tr>
            <td colspan="2" align="center"><input type=submit value="Add Protocol" name="submit"></td>
        </tr>
    </form>
    <h4>Add a new Recording </h4>
    {{ render_form(form, ["Submit"])}}
    <p>
    </p>
    <h4>Subject Data</h4>
    {% with data=table_json2 %}
    {% include '_table2.html' %}
    {% endwith %}
    <p></p>
    <h4>Added Recordings</h4>
    {% with data=table_json %}
    {% include '_table.html' %}
    {% endwith %}
{% endblock %}
