{% extends "base.html" %}


{% block page_content %}
    <div class="post-tabs">
        {% from "_macros.html" import render_field %}
        <h3>User Log In</h3>
        <form method="post">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.user) }}
                {{ render_field(form.password) }}
                {{ render_field(form.new_password) }}
                {{ render_field(form.repeat_password) }}
            </dl>
            <input type="submit" value="Log In">
        </form>
    </div>
{% endblock %}
