{% macro render_field(field, label, form=None) %}
    <td>
        {% if label %}
            {% if 'form_class' in form.__dir__() %}
            {% set form = form.form_class() %}
            {% endif %}
            {% if not '_primary_keys' in form.__dir__() %}
                {{ field.id }}
            {% elif field.id in form._primary_keys and field.id in form._foreign_keys %}
            <font color="maroon"><em><strong>{{ field.id }}</strong></em></font>
            {% elif field.id in form._primary_keys%}
            <font color="maroon"><strong>{{ field.id }}</strong></font>
            {% elif field.id in form._foreign_keys and field.id in form._required%}
            <font color="maroon"><em>{{ field.id }}</em></font>
            {% elif field.id in form._foreign_keys%}
            <font color="navy"><em>{{ field.id }}</em></font>
            {% elif field.id in form._required %}
            <font color="maroon">{{ field.id }}</font>
            {% else %}
            <font color="navy">{{ field.id }}</font>
            {% endif %}
        {% endif %}
        {% if field.type in ['SelectField'] %}
            {{ field(class="form-control") }}
        {% elif field.type in ['BooleanField']%}
            {{ field() }}
        {% elif field.type in ['FileField']%}
            {{ field(**kwargs) | safe }}
        {% else %}
            {% if label %}
                {{
                    field(class="form-control",
                    placeholder=field.label.text, autofocus=true)
                }}
            {% else %}
                {{
                    field(class="form-control",
                    placeholder=field.label.text)
                }}
            {% endif %}
        {% endif %}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </td>
{% endmacro %}

{% macro _render_form(form, toggle_class="fieldsetting") %}
{% for field in form %}
{% if ("csrf_token" not in field.name) and (not field.type in ['HiddenField', 'SetHiddenField']) and ("REFERRER" not in field.name) %}
        {% if field.type in ['FieldList', 'DataJointFieldList'] %}
        <tr>
            <td>
            <div data-toggle="{{ toggle_class }}" id="{{ field.id }}-{{ toggle_class }}">
            <table>
                <tr>
                    {% if toggle_class == "subfieldset" %}
                    <td>
                        <b> {{ field.id }} </b>
                    </td>
                    {% else %}
                    <td>
                        <b><font size="5"> {{ field.name }} </font></b>
                    </td>
                    {% endif %}
                    <td>
                        <button id="{{ field.id }}" class="buttongreen" type="button" data-toggle="{{ toggle_class }}-add-row" data-target="#{{ field.id }}-{{ toggle_class }}">+</button>
                    </td>
                </tr>
                {% for subfield in field %}
                {% if subfield.type in ['FormField'] %}
                    <tr data-toggle="{{ toggle_class }}-entry" {% if loop.index0==0 %}style="display:none;"{% endif %}>
                    <td>
                    <div>
                    <table>
                    {{ _render_form(subfield, "subfieldset")}}
                    <tr>
                        <td>
                        <button type="button" class="buttonred" data-toggle="{{ toggle_class }}-remove-row" id="{{field.id}}-{{loop.index0}}-remove">-
                        </button>
                        </td>
                    </tr>
                    </table>
                    </div>
                    </td>
                    </tr>
                {% else %}
                    <tr data-toggle="{{ toggle_class }}-entry" {% if loop.index0==0 %}style="display:none;"{% endif %}>
                    {{ render_field(subfield, False) }}
                    <td>
                        <button type="button" class="buttonred" data-toggle="{{ toggle_class }}-remove-row" id="{{field.id}}-{{loop.index0}}-remove">-
                        </button>
                    </td>
                    </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td>
                        <button id="{{ field.id }}" class="buttongreen" type="button" data-toggle="{{ toggle_class }}-add-row" data-target="#{{ field.id }}-{{ toggle_class }}">+</button>
                    </td>
                </tr>
            </table>
            </div>
            </td>
        </tr>
        {% elif field.type in ['SetFieldList'] %}
        {% for subfield in field %}
            {% if loop.index0 == 0 %}
                <tr>
                {{ render_field(subfield, True, form) }}
                </tr>
            {% else %}
                <tr>
                {{ render_field(subfield, False, form) }}
                </tr>
            {% endif %}
        {% endfor %}
        {% elif field.type in  ['ForeignKeyFormField'] %}
        {% for subfield in field %}
            {% if subfield.id != 'add_to_parent' %}
                <tr>
                {{ render_field(subfield, True, form) }}
                </tr>
            {% endif %}
        {% endfor %}
            {{ render_field(field.add_to_parent, False) }}
        {% elif field.type in ['FormField'] %}
            {{ _render_form(field, None)}}
        {% else %}
        <tr>
            {{ render_field(field, True, form) }}
        </tr>
        {% endif %}
{% endif %}
{% endfor %}
{% endmacro %}

{% macro render_form(form, submit_buttons) %}
    <form novalidate method=post enctype="multipart/form-data">
        <table  style="width:100%">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ _render_form(form) }}
        </table>
        <p> </p>
        <div>
        <tr>
            {% for submit_button in submit_buttons %}
                <td align="center"><input type=submit value={{ submit_button }} name="submit"></td>
            {% endfor %}
        </tr>
        </div>
    </form>
{% endmacro %}
