{% extends "base.html" %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}


{% block page_content %}
    <h3>ERD neighborhood</h3>
    Click on a table to expand it.
    <div class="post-tabs">
        <object data="{{ url_for('main.tmpfile', filename=filename) }}" type="image/svg+xml"
                class="Svg" target="_top">
        </object>
    </div>

    <h3>Table</h3>
    <p>
    </p>
    {% with data=table_json %}
    {% include '_table.html' %}
    {% endwith %}
{% endblock %}
