
{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}

{% block page_content %}
    <h4> Select Recording System </h4>
    <form method="post">
        <tr>
            <td colspan="2" align="center"><input type=submit value=Misc name="submit"></td>
            <td colspan="2" align="center"><input type=submit value=TwoPhoton name="submit"></td>
            <td colspan="2" align="center"><input type=submit value=Intracellular name="submit"></td>
        </tr>
    </form>
{% endblock %}
