{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='repeatable-fields.js') }}"></script>
{% endblock %}

{% block page_content %}
    {% from "_render.html" import render_field %}
    <h4> Stimuli Information </h4>
    <p> 
        Tool to create stimuli.
    </p>
    <form id="stimulus-form" method=post>
        <div class="repeat">
            <table class="datajoint wrapper">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <thead>
                <tr>
                    <th colspan="5" class="datajoint">Attribute</th>
                    <th colspan="7" class="datajoint">Data</th>
                    <th colspan="7" class="datajoint">Comment</th>
                    <th colspan="5" class="datajoint">Error</th>
                </tr>
                </thead>
                <tbody class="container">
                    {% for fieldname, field in form._fields.items() %}
                    {% if fieldname != "csrf_token"%}
                    {{ render_field(field, form.required[fieldname]) }}
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="5"><label for="ledsystem_name"><b>ledsystem_name</b></label></td>
                        <td colspan="7"><select id="ledsystem_name" name="ledsystem_name" value="">
                            {% for ledsystem_name in leds %}
                            <option value="{{ ledsystem_name }}">{{ ledsystem_name }}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    <tr>
                        <td colspan="24"><span class="add btn btn-success">Add LED stimulus</span></td>
                    </tr>
                    <tr class="template led-row">
                        <td colspan="24">
                        {% include '_led_form.html' %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
        </div>
        <div class="display-stimuli">
            <div id="stimulus-plot"></div>
        </div>
        <div>
            <input type="submit" value="Submit" name="submit">
            <input id="csv" name="submit" type="submit" value="Generate CSV">
        </div>
    </form>
    {% with data=table_json %}
    {% include '_table.html' %}
    {% endwith %}

    <script>
        $('tbody.container tr:not(.led-row)').each(function() {
            if ($(this).find('#exp_array').length != 0 ||
                $(this).find('#exp_arr_format').length != 0)
                $(this).hide();
        });

        $('#protocol_group').change(function() {
            var protocol = $(this).find('option:selected').val();
            if (protocol == 'projector_led') {
                $('.add').hide();
                $('.led-row:not(:first)').hide();
                $('.display-stimuli').hide();
                $('#psychopy_file').find('tr').show();
            }
            else if (protocol == 'led_system') {
                $('.add').show();
                $('.led-row:not(:first)').show();
                $('.display-stimuli').show();
                $('#psychopy_file').find('tr').hide();
            }
        });
        $('#protocol_group').change();

        // Init values, data, layout for plot
        var total_dur = 1000.;
        var points_per_ms = 1.;
        var x = Array(total_dur*points_per_ms).fill().map((e,i)=>i/points_per_ms);

        var data = [{
            x: x,
            y: [],
            mode: 'lines',
            name: '0 (uv)',
            line: {
                simplify: false,
                width: 2
            },
            fill: 'tozeroy'
        }];

        var layout = {
            xaxis: {
                title: 'Time (ms)',
                range: [0, total_dur]
            },
            yaxis: {
                title: 'Intensity (nW/mm²)',
                range: [-1, 11]
            }
        };

        var init = true;

        function updateLEDChoices() {
            var ledsystem_name = $('#ledsystem_name option:selected').val();
            var leds_data = JSON.parse('{{ leds }}'.split("&#39;").join('"'));
            var led_choices = leds_data[ledsystem_name];
            $('.led-row:not(:first)').each(function() {
                $(this).find('select:first').empty();
                for (var i = 0; i < led_choices.length; i++)
                    $(this).find('select:first').append('<option value="' + led_choices[i] + '">' + led_choices[i] + '</option>')
            });
        }

        $('#ledsystem_name').change(updateLEDChoices);
        $('#ledsystem_name').val($('#ledsystem_name option:first').val());
        updateLEDChoices();

        // Get a param of the form given the stimulus id
        function getParam(idx=0, param) {
            var id = idx.toString();
            if (['led', 'type'].indexOf(param) !== -1)
                return $('#led_fields-' + id + '-' + param + ' option:selected').val();
            else if (param === 'intensity')
                return $('#led_fields-' + id + '-' + param).val().split(';').map(x => parseFloat(x));
            else if (['randomize', 'keep_order', 'in_mix'].indexOf(param) !== -1)
                return $('#led_fields-' + id + '-' + param).is(':checked');
            else
                return parseFloat($('#led_fields-' + id + '-' + param).val());
        }

        // Get the max intensity (for layout resizing purposes) from the form
        function maxIntensity() {
            var max_intensity = 0.;
            $('.led-row:not(:first)').each(function(index) {
                var offset = getParam(index, 'offset');
                var intensities = getParam(index, 'intensity');

                intensities.forEach(function(intensity) {
                    if (offset + intensity > max_intensity) 
                        max_intensity = offset + intensity;
                });
                    
            });

            return max_intensity;
        }

        // Get the max duration (for layout resizing purposes) from the form
        function maxDuration() {
            var max_duration = 0.;
            $('.led-row:not(:first)').each(function(index) {
                var start = getParam(index, 'start');
                var duration = getParam(index, 'duration');
                var repeat_times = getParam(index, 'repeat');
                var full_duration = start + repeat_times * duration;
                if (full_duration > max_duration) 
                    max_duration = full_duration;  
            });

            return max_duration;
        }

        // Get peaks count of a stimulus and update corresponding field value
        function getAndUpdatePeaksCount(id=0, freq=1, dur=1000, offset_start=0, offset_end=0, rest_start=0, rest_end=0) {
            var peaks_count = Math.floor((dur - offset_start - offset_end - rest_start - rest_end - 1) / 1000. * freq) + 1;

            $('#led_fields-' + id.toString() + '-freq-p.peaks-count').val(peaks_count);

            return peaks_count;
        }

        // Update the total duration of the plot (resize layout)
        function updateDuration() {
            var max_duration = maxDuration();
            if (total_dur != max_duration) {
                total_dur = max_duration;

                if (total_dur * points_per_ms > x.length)
                    x = x.concat(Array(total_dur * points_per_ms - x.length).fill().map((e,i)=>(x.length + i)/points_per_ms));

                else if (total_dur * points_per_ms < x.length)
                    x = x.slice(0, total_dur * points_per_ms);

                Plotly.restyle('stimulus-plot', {x: x});
            }
        }

        function updateName(id=0) {
            var led = $('#led_fields-' + id.toString() + '-led').val();
            var name = id.toString() + ' (' + led + ')';

            Plotly.restyle('stimulus-plot', {
                name: name
            }, id);
        }

        // Update the plot points of a trace given the id of the corresponding form
        function updatePlotPoints(id=0) {
            var timestamps = [],
            durations = [],
            event_intensities = [],
            refs = [],
            types = [];

            var wave = getParam(id, 'type');
            var mix_qty = getParam(0, 'mix');
            var in_mix = getParam(id, 'in_mix');
            var rel_id = id;

            if (wave === 'steps' && mix_qty !== 0. && (id === 0 || in_mix))
                rel_id = 0;

            var start = getParam(rel_id, 'start');
            var dur = getParam(rel_id, 'duration');
            var step_dur = getParam(rel_id, 'step_duration');
            var offset_start = getParam(rel_id, 'offset_start');
            var offset_end = getParam(rel_id, 'offset_end');
            var rest_start = getParam(rel_id, 'rest_start');
            var rest_end = getParam(rel_id, 'rest_end');
            var repeat_times = getParam(rel_id, 'repeat');
            var keep_order = getParam(rel_id, 'keep_order');
            var randomize = getParam(id, 'randomize');

            var intensities = [];
            var intensities_count;

            var y = [];

            if (wave === 'gnoise') {
                var refresh_time = getParam(id, 'refresh');
                var mean = getParam(id, 'mean');
                var variance = getParam(id, 'variance');

                var steps_count = dur - offset_start - offset_end - rest_start - rest_end - 1;
                steps_count = refresh_time === 0 ? steps_count : Math.floor(steps_count / refresh_time) + 1;
                intensities_count = steps_count;

                for (var k = 0; k < steps_count; k++)
                    intensities.push(normalRandomScaled(mean, variance));

                for (var k = 0; k < repeat_times; k++) {
                    if (keep_order)
                        intensities = intensities.concat(intensities.slice(0, intensities_count));
                    else if (randomize) {
                        for (var j = 0; j < steps_count; j++)
                            intensities.push(normalRandomScaled(mean, variance));
                    }
                    else {
                        intensities = intensities.concat(shuffle(intensities.slice(0, intensities_count)));
                    }

                }


                updateDuration();

                for (var i = 0; i < total_dur * points_per_ms; i++) {
                    if (i < start * points_per_ms || i >= (start + repeat_times * dur) * points_per_ms) {
                        y.push(0);
                        if (i === 0 || y[i] !== y[i-1]) {
                            timestamps.push(i / points_per_ms);
                            event_intensities.push(y[i]);
                            refs.push(-1);
                            types.push('shift');
                        }
                    }
                    
                    else {
                        var k = Math.floor((i - start * points_per_ms) / (dur * points_per_ms));
                        var abs = i - (start + k * dur) * points_per_ms;

                        if (abs < offset_start * points_per_ms || abs >= (dur - offset_end) * points_per_ms) {
                            y.push(0);
                            if (i === 0 || y[i] !== y[i-1]) {
                                timestamps.push(i / points_per_ms);
                                event_intensities.push(y[i]);
                                refs.push(-1);
                                types.push('shift');
                            }
                        }
                        else if (abs < (offset_start + rest_start) * points_per_ms || abs >= (dur - offset_end - rest_end) * points_per_ms) {
                            y.push(mean);
                            if (i === 0 || y[i] !== y[i-1]) {
                                timestamps.push(i / points_per_ms);
                                event_intensities.push(y[i]);
                                refs.push(-1);
                                types.push('rest');
                            }
                        }

                        else {
                            abs -= (offset_start + rest_start) * points_per_ms;

                            var current_intensity = intensities[(Math.floor(abs / refresh_time) + k * intensities_count) % intensities.length];
                            y.push(current_intensity);
                            if (i === 0 || y[i] !== y[i-1]) {
                                timestamps.push(i / points_per_ms);
                                event_intensities.push(y[i]);
                                types.push('gaussian');
                                if (keep_order) {
                                    var l = timestamps.length;
                                    while (l !== 0 && types[l-1] !== 'shift' && types[l-1] !== 'rest')
                                        l--;

                                    var ref_index = 0;
                                    while (types[ref_index] === 'shift' || types[ref_index] === 'rest')
                                        ref_index++;

                                    ref_index += timestamps.length - l - 1;
                                    if (ref_index === timestamps.length - 1)
                                        ref_index = -1;
                                    refs.push(ref_index);
                                }
                                else if (!randomize && k !== 0)
                                    refs.push(-2);
                                else
                                    refs.push(-1);
                            }
                        }
                    }
                }
            }

            else {
                var freq = getParam(rel_id, 'freq');
                var phase = getParam(rel_id, 'phase');
                intensities = getParam(id, 'intensity');
                intensities_count = intensities.length;
                var intensity = intensities[0];
                var offset = getParam(id, 'offset');

                var peaks_count = getAndUpdatePeaksCount(rel_id, freq, dur, offset_start, offset_end, rest_start, rest_end);
                
                if (intensities.length === 1) {
                    intensities = [];
                    intensities_count = peaks_count;
                    for (var k = 0; k < peaks_count; k++)
                        intensities.push(randomize ? Math.floor(Math.random() * intensity) : intensity);
                }
                else {
                    while (intensities.length < peaks_count)
                        intensities = intensities.concat(intensities.slice(0, intensities_count));
                    intensities = intensities.slice(0, peaks_count);
                    if (randomize)
                        intensities = shuffle(intensities);
                }

                for (var k = 1; k < repeat_times; k++) {
                    if (!keep_order && randomize)
                        intensities = intensities.concat(shuffle(intensities.slice(0, peaks_count)));
                    else
                        intensities = intensities.concat(intensities.slice(0, peaks_count));
                }

                if (wave === 'steps' && mixing.length !== 0 && (in_mix || id === 0)) {
                    if (keep_order) {
                        mixing = mixing.slice(0, peaks_count);
                        for (var k = 1; k < repeat_times; k++)
                            mixing = mixing.concat(mixing.slice(0, peaks_count));
                    }
                    
                    for (var k = 0; k < peaks_count * repeat_times; k++) {
                        if (mixing[k].split('-').indexOf(id.toString()) === -1)
                            intensities[k] = -0.01;
                    }
                }

                var period = 1000.*points_per_ms / freq;

                updateDuration();

                // Prepare points according to waveform type
                for (var i = 0; i < total_dur * points_per_ms; i++) {
                    if (i < start * points_per_ms || i >= (start + repeat_times * dur) * points_per_ms) {
                        y.push(0);
                        if (i === 0 || y[i] !== y[i-1]) {
                            timestamps.push(i / points_per_ms);
                            event_intensities.push(y[i]);
                            refs.push(-1);
                            types.push('shift');
                        }
                    }
                    
                    else {
                        var k = Math.floor((i - start * points_per_ms) / (dur * points_per_ms));
                        var abs = i - (start + k * dur) * points_per_ms;

                        if (abs < offset_start * points_per_ms || abs >= (dur - offset_end) * points_per_ms) {
                            y.push(0);
                            if (i === 0 || y[i] !== y[i-1]) {
                                timestamps.push(i / points_per_ms);
                                event_intensities.push(y[i]);
                                refs.push(-1);
                                types.push('shift');
                            }
                        }
                        else if (abs < (offset_start + rest_start) * points_per_ms || abs >= (dur - offset_end - rest_end) * points_per_ms) {
                            y.push(offset);
                            if (i === 0 || y[i] !== y[i-1]) {
                                timestamps.push(i / points_per_ms);
                                event_intensities.push(y[i]);
                                refs.push(-1);
                                types.push('rest');
                            }
                        }

                        else {
                            abs -= (offset_start + rest_start) * points_per_ms;

                            if (wave === 'steps') {
                                var intensity_index = (Math.floor(abs / period) + k * peaks_count) % intensities.length;
                                var current_intensity = intensities[intensity_index];

                                if (freq === 0 && abs < step_dur && abs >= 0) {
                                    y.push(offset + current_intensity);
                                    if (i === 0 || y[i] !== y[i-1]) {
                                        timestamps.push(i / points_per_ms);
                                        event_intensities.push(current_intensity);
                                        var current_type = randomize ? 'random' : 'constant';
                                        types.push(current_type);

                                        if (keep_order) {
                                            var l = timestamps.length;
                                            while (l !== 0 && types[l-1] !== 'shift' && types[l-1] !== 'rest')
                                                l--;

                                            var ref_index = 0;
                                            while (types[ref_index] === 'shift' || types[ref_index] === 'rest')
                                                ref_index++;

                                            ref_index += timestamps.length - l - 1;
                                            if (ref_index === timestamps.length - 1)
                                                ref_index = -1;
                                            refs.push(ref_index);
                                        }
                                        else
                                            refs.push(-1);
                                    }
                                }

                                else if (abs % period < step_dur + phase / 360. * period && abs % period >= phase / 360. * period) {
                                    y.push(offset + current_intensity);
                                    if (i === 0 || y[i] !== y[i-1]) {
                                        timestamps.push(i / points_per_ms);
                                        event_intensities.push(current_intensity);
                                        var current_type = randomize ? 'random' : 'constant';
                                        types.push(current_type);

                                        if (keep_order) {
                                            var l = timestamps.length;
                                            while (l !== 0 && types[l-1] !== 'shift' && types[l-1] !== 'rest')
                                                l--;

                                            var ref_index = 0;
                                            while (types[ref_index] === 'shift' || types[ref_index] === 'rest')
                                                ref_index++;

                                            ref_index += timestamps.length - l - 1;
                                            if (ref_index === timestamps.length - 1)
                                                ref_index = -1;
                                            refs.push(ref_index);
                                        }
                                        else
                                            refs.push(-1);
                                    }
                                }

                                else {
                                    y.push(offset);
                                    if (i === 0 || y[i] !== y[i-1]) {
                                        timestamps.push(i / points_per_ms);
                                        event_intensities.push(0);
                                        types.push('rest');
                                        refs.push(-1);
                                    }
                                }
                            }

                            else if (wave === 'sinew') {
                                y.push(offset + 0.5 * intensity * (1. + Math.sin(2. * Math.PI * (freq * (abs / points_per_ms) / 1000. + phase / 360.))));
                                if (i === 0 || (y[i] !== y[i-1] && types[types.length - 1] !== 'sine')) {
                                    timestamps.push(i / points_per_ms);
                                    event_intensities.push(y[i]);
                                    refs.push(-1);
                                    types.push('sine');
                                }
                            }
                        }
                    }    
                }
            }

            // Update hidden fields
            for (var i = 0; i < timestamps.length - 1; i++)
                durations.push(timestamps[i+1] - timestamps[i]);
            durations.push(total_dur - timestamps[timestamps.length - 1]);

            $('#led_fields-' + id.toString() + '-timestamps').val(JSON.stringify(timestamps));
            $('#led_fields-' + id.toString() + '-durations').val(JSON.stringify(durations));
            $('#led_fields-' + id.toString() + '-intensities').val(JSON.stringify(event_intensities));
            $('#led_fields-' + id.toString() + '-refs').val(JSON.stringify(refs));
            $('#led_fields-' + id.toString() + '-types').val(JSON.stringify(types));

            // Update max_intensity if needed to relayout
            var max_intensity = maxIntensity();
            max_intensity = Math.max(...intensities) > max_intensity ? Math.max(...intensities) : max_intensity;
            
            // Update plot
            Plotly.animate('stimulus-plot', {
                data: [{y: y}],
                traces: id,
                layout: {
                    xaxis: {range: [0, total_dur]},
                    yaxis: {range: [-1, max_intensity + 1]}
                }
            }, {
                transition: {
                    duration: 500,
                    easing: 'cubic-in-out'
                }
            });
        };

        function displayParams(id=0) {
            var row = $('.repeat').find('.led-row:not(:first):eq(' + id.toString() + ')');
            var wave = getParam(id, 'type');
            if (wave === 'steps') {
                row.find('.wave-params').show(400);
                row.find('.intensity-params').show(400);
                row.find('.random-params').show(400);
                row.find('.step-params').show(400);
                row.find('.noise-params').hide(400);
                if (id === 0) {
                    row.find('.main-mix-params').show(400);
                    row.find('.sub-mix-params').hide(400);
                }
                else {
                    row.find('.main-mix-params').hide(400);
                    row.find('.sub-mix-params').show(400);
                }
            }
            else if (wave === 'sinew') {
                row.find('.wave-params').show(400);
                row.find('.intensity-params').show(400);
                row.find('.random-params').hide(400);
                row.find('.step-params').hide(400);
                row.find('.noise-params').hide(400);
                row.find('.main-mix-params').hide(400);
                row.find('.sub-mix-params').hide(400);
            }
            else if (wave === 'gnoise') {
                row.find('.wave-params').hide(400);
                row.find('.intensity-params').hide(400);
                row.find('.random-params').show(400);
                row.find('.step-params').hide(400);
                row.find('.noise-params').show(400);
                row.find('.main-mix-params').hide(400);
                row.find('.sub-mix-params').hide(400);
            }
        }

        var mixing = [];
        function generateMixing() {
            var steps_row_count = 0;
            var mix_ids = [];
            $('.repeat').find('.led-row:not(:first)').each(function(index) {
                if (getParam(index, 'type') === 'steps' && (getParam(index, 'mix') !== 0 || getParam(index, 'in_mix'))) {
                    steps_row_count += 1;
                    mix_ids.push(index);
                }
            });
            var mix_qty = Math.min(getParam(0, 'mix'), steps_row_count);
            mixing = [];
            if (mix_qty === 0.)
                return;

            var peaks_count = getParam(0, 'freq-p');
            var repeat_times = getParam(0, 'repeat');
            for (var i = 0; i < peaks_count * repeat_times; i++) {
                var shuffled_ids = shuffle(mix_ids.slice());
                mixing.push(shuffled_ids.pop().toString());
                for (var k = 1; k < mix_qty; k++)
                    mixing[mixing.length - 1] += '-' + shuffled_ids.pop().toString();
            }
        }

        function updateRow(id=0) {
            displayParams(id);

            generateMixing();
            $('.repeat').find('.led-row:not(:first)').each(function(index) {
                updatePlotPoints(index);
            });

            updateName(id);
        }

        function updateOnChange() {
            var id = parseInt($(this).attr('id').split('-')[1]);
            var type = $(this).attr('id').split('-')[2];

            if (type === 'led')
                return updateName(id);

            if (type === 'type')
                displayParams(id);

            generateMixing();
            $('.repeat').find('.led-row:not(:first)').each(function(index) {
                updatePlotPoints(index);
            });
        }

        $('.repeat').on('change', '.led-row input[type="range"]', function() {
            $(this).closest('.led-row').find('.slider-value#' + $(this).attr('id') + '-s').val($(this).val());
        });
        $('.repeat').on('change', '.led-row input.slider-value', function() {
            var input_id = $(this).attr('id');
            input_id = input_id.slice(0, input_id.length - 2);
            $(this).closest('.led-row').find('input[type="range"]#' + input_id).val($(this).val());
        });

        $('.repeat').on('change', '.led-row input', updateOnChange);
        $('.repeat').on('change', '.led-row select', updateOnChange);

        // TODO: in the after_remove, update max duration & consider new main mix
        $('.repeat').each(function() {
            $(this).repeatable_fields({
                row: '.led-row',
                after_add: function() {
                    updateLEDChoices();

                    var id = parseInt($('.led-row').length) - 2;
                    $('.repeat .led-row:last .row-id').html(id);
                    $('.repeat .led-row:last label').each(function() {
                        var attr = $(this).attr('for');
                        $(this).attr('for', "led_fields-" + id.toString() + "-" + attr);
                    });
                    $('.repeat .led-row:last select').each(function() {
                        var attr = $(this).attr('id');
                        $(this).attr('id', 'led_fields-' + id.toString() + '-' + attr);
                        $(this).attr('name', 'led_fields-' + id.toString() + '-' + attr);
                    });
                    $('.repeat .led-row:last input').each(function() {
                        var attr = $(this).attr('id');
                        $(this).attr('id', 'led_fields-' + id.toString() + '-' + attr);
                        $(this).attr('name', 'led_fields-' + id.toString() + '-' + attr);
                    });

                    if (init) {
                        Plotly.newPlot('stimulus-plot', data, layout);
                        updateRow();

                        init = false;
                    }
                    else {
                        var name = id.toString() + ' (uv)';
                        data = [{
                            x: x,
                            y: [],
                            mode: 'lines',
                            name: name,
                            line: {
                                simplify: false,
                                width: 2
                            },
                            fill: 'tozeroy'
                        }];
                        Plotly.addTraces('stimulus-plot', data);
                        updateRow(id);
                    }        
                },
                after_remove: function() {
                    var remaining_ids = [];
                    $('.led-row:not(:first)').each(function() {
                        remaining_ids.push(parseInt($(this).find('label:first').attr('for').split('-')[1]));
                    });
                    var id_to_remove = 0;
                    if (remaining_ids.length !== 0 && remaining_ids[0] === 0) {
                        id_to_remove = remaining_ids.length;
                        for (var i = 0; i < remaining_ids.length - 1; i++) {
                            if (remaining_ids[i] != remaining_ids[i+1] - 1) {
                                id_to_remove = remaining_ids[i] + 1;
                                break;
                            }
                        }
                    }

                    Plotly.deleteTraces('stimulus-plot', id_to_remove);

                    if (id_to_remove !== remaining_ids.length) {
                        $('.led-row:not(:first)').each(function(index) {
                            if (index < id_to_remove)
                                return true;

                            $(this).find('.row-id').html(index.toString());

                            $(this).find('label').each(function() {
                                var attr = $(this).attr('for').split('-')[2];
                                $(this).attr('for', "led_fields-" + index.toString() + "-" + attr);
                            });
                            $(this).find('select').each(function() {
                                var attr = $(this).attr('id').split('-')[2];
                                $(this).attr('id', 'led_fields-' + index.toString() + '-' + attr);
                                $(this).attr('name', 'led_fields-' + index.toString() + '-' + attr);
                            });
                            $(this).find('input').each(function() {
                                var attr = $(this).attr('id').split('-')[2];
                                $(this).attr('id', 'led_fields-' + index.toString() + '-' + attr);
                                $(this).attr('name', 'led_fields-' + index.toString() + '-' + attr);
                            });

                            var led = getParam(index, 'led');;
                            var name = index.toString() + ' (' + led + ')';

                            Plotly.restyle('stimulus-plot', {name: name}, index);
                        });
                    }

                    Plotly.animate('stimulus-plot', {
                        layout: {
                            yaxis: {range: [-1, maxIntensity() + 1]}
                        }
                    }, {
                        transition: {
                            duration: 500,
                            easing: 'cubic-in-out'
                        }
                    });
                }
            });
        });

        $('.add').click();

        function retrievePlot(data={}) {
            if ('form_data' in data && data['form_data'] === 'true') {
                $('#ledsystem_name').val(data['ledsystem_name']);
                updateLEDChoices();

                for (var key in data) {
                    if (key.includes('led_fields')) {
                        var id = parseInt(key.split('-')[1]);
                        if ($('.repeat').find('.led-row:not(:first)').length < id + 1)
                            $('.add').click();
                        while ($('.repeat').find('.led-row:not(:first)').length > id + 1)
                            $('.remove:last').click();

                        for (var attr in data[key]) {
                            if (['led', 'type', 'intensity'].indexOf(attr) !== -1)
                                $('#' + key + '-' + attr).val(data[key][attr]);
                            else {
                                $('#' + key + '-' + attr).val(parseFloat(data[key][attr]));
                                if (['freq', 'phase', 'offset'].indexOf(attr) !== -1)
                                    $('#' + key + '-' + attr + '-s').val(parseFloat(data[key][attr]));
                            }
                            $('#' + key + '-randomize').prop('checked', ('randomize' in data[key] && data[key]['randomize'] === 'on'));
                            $('#' + key + '-keep_order').prop('checked', ('keep_order' in data[key] && data[key]['keep_order'] === 'on'));
                            $('#' + key + '-in_mix').prop('checked', ('in_mix' in data[key] && data[key]['in_mix'] === 'on'));
                        }
                        updateRow(id);
                    }
                }
            }
        }

        var string_form_data = '{{ form_data }}'.split("&#39;").join('"');
        var form_data = string_form_data === '' ? {} : JSON.parse(string_form_data);
        retrievePlot(form_data);

        // Set protocol_name to one of the clicked table row
        $('#supertable').on('click', 'tbody tr', function() {
            $('#protocol_name').val($(this).find('td:first').html());
            $('#protocol_type').val($(this).find('td:nth-child(2)').html());
            $('#protocol_group').val($(this).find('td:nth-child(3)').html());

            var form_data_idx = 0;
            $('.dataTables_scrollHeadInner th').each(function(index) {
                if ($(this).text() === "comments")
                    form_data_idx = index + 1;
            })
            string_form_data = $(this).find('td:nth-child(' + form_data_idx + ')').text();
            form_data = string_form_data === '' ? {} : JSON.parse(string_form_data);

            retrievePlot(form_data);
        });


        // Random-related stuff

        function shuffle(array) {
          var currentIndex = array.length, temporaryValue, randomIndex;

          // While there remain elements to shuffle...
          while (0 !== currentIndex) {

            // Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            // And swap it with the current element.
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
          }

          return array;
        }

        var spareRandom = null;

        function normalRandom() {
            var val, u, v, s, mul;

            if (spareRandom !== null) {
                val = spareRandom;
                spareRandom = null;
            }
            else {
                do {
                    u = Math.random()*2-1;
                    v = Math.random()*2-1;
                    s = u*u+v*v;
                } while (s === 0 || s >= 1);

                mul = Math.sqrt(-2 * Math.log(s) / s);

                val = u * mul;
                spareRandom = v * mul;
            }

            return val / 14;    // 7 standard deviations on either side
        }
            

        function normalRandomInRange(min, max) {
            var val;
            do {
                val = normalRandom();
            } while (val < min || val > max);
            
            return val;
        }

        function normalRandomScaled(mean, stddev) {
            var r;
            do {
                r = normalRandomInRange(-1, 1);
                r = r * stddev + mean;
                r = Math.round(r);
            } while (r < 0);
            return r;
        }
    </script>

    <style>
        /*input[type=text], input[type=number]:not(.slider-value, .peaks-count), select {*/
        select {
            width: 90%;
            padding: 8px 20px;
            margin: 2px 2px 10px 5px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=text], input[type=number]:not(.slider-value):not(.peaks-count) {
            width: 90%;
            padding: 4px 8px;
            margin: 2px 2px 10px 5px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .slider-value::-webkit-outer-spin-button, .slider-value::-webkit-inner-spin-button, .peaks-count::-webkit-outer-spin-button, .peaks-count::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .slider-value, .peaks-count {
            padding: 2px 3px;
            width: 40px;
            outline: none;
            border: 0;
        }

        .peaks-count {
            float: right;
        }

        input[type=submit], .add.btn {
            width: 90%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        input[type=submit][value=Restrict], input[type=submit][value=Search] {
            width: 10%;
        }

        div {
            padding: 5px;
        }

        input[type=range] {
            -webkit-appearance: none;
            margin-bottom: 5px;
            width: 90%;
            height: 10px;
            border-radius: 5px;   
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%; 
            background: #777777;
            cursor: pointer;
        }

        input[type=range]::-moz-range-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #777777;
            cursor: pointer;
        }

        /* Customize the label (the container) */
        .checkbox-container {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 8px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        /* Hide the browser's default checkbox */
        .checkbox-container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .checkbox-container:hover input ~ .checkmark {
          background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .checkbox-container input:checked ~ .checkmark {
          background-color: #ccc;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .checkbox-container input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .checkbox-container .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
    </style>
{% endblock %}
