{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}

{% block page_content %}
    {% from "render_form.html" import render_form %}
    <h4> Subject Information </h4>
    <p>
        Check if your genotype already exists in the genotype table below.
        If it is not there, you first need to enter it into the <a href="http://129.236.163.137:4324/enter/subjects/FlyGenotype">genotype table</a>.
    </p>
    {{ render_form(form, ["Submit"])}}

    <p>
    </p>
    <h4> Genotype Table </h4>
    {% with data=table_json %}
    {% include '_table.html' %}
    {% endwith %}
{% endblock %}
