{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}


{% block page_content %}
<div>
    {% from "render_form.html" import render_form %}
    <h4> Select the right attribute for each column </h4>
    <p> Do not use the same attributes for different columns.</p>
    {{ render_form(form, ["Submit", "Cancel"])}}

</div>
{% endblock %}
