{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}


{% block page_content %}
<div>
    <h4> Upload Data to a Table </h4>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {% from "_macros.html" import render_field %}
        <dl>
            {{ render_field(form.schema) }}
            {{ render_field(form.table) }}
        </dl>
        <input type="file" name="file"/>
        <input type="submit" value="Submit" name="submit"/>
    </form>
</div>
{% endblock %}
